@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body{
  background-color: lightblue;
  min-height: 100vh;
  overflow: hidden;
}

.website{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cloud-background{
  z-index: -1;
}
.landing-page{
  position: absolute;
  width: 386px;
  height: 365px;
  border: solid;
  border-radius: 20px;
  /* transition: transform 1s ease-in-out; */
}
.landing-page::before{
  content: "";
  background-image: url('Images/bg.jpg');
  background-size: cover; 
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
  border-radius: 15px;
  z-index: -1;
}
.city-selector{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.weather-app-text{
  color: rgba(4, 43, 110,255);
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: 15px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 200px;
  z-index: 100;
}
.city-name-input{
  z-index: 100;
  box-sizing: border-box;
  border: solid 0.1px;
  width: 250px;
  height: 2.5rem;
  outline: none;
  border-radius: 1.25rem;
  font-family: Poppins, sans-serif;
  text-align: center;
  
}
.city-name-input:focus::placeholder{
  color: transparent;
}
.city-name-input::placeholder{
  font-family: Poppins, sans-serif;
  text-align: center;
}

.get-device-location-button{
  z-index: 100;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  background-color: rgba(4, 43, 110,255);
  border: none;
  width: 250px;
  height: 2.5rem;
  border-radius: 1.25rem;
  color: white;
  cursor: pointer;
  margin-bottom: 15px;
  transition: background-color 0.5s;
}
.get-device-location-button:hover{
  background-color: rgba(3, 65, 201,255);
}
.top-horizontal-line{
  display: block;
  border: 1px solid black;
  width: 383px;
  margin-bottom: 10px;
}

.bottom-horizontal-line{
  display: block;
  border: 1px solid black;
  width: 250px;
}
.date{
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: rgba(4, 43, 110,255);
  font-weight: 450;
  margin-left: 67px;
  margin-bottom: 70px;
}


span{
  display: table;
  text-align: left;
  font-weight: bold;
}

.display-weather{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  position: absolute;
  background-color: lightblue;
  border: none;
  width: 400px;
  height: 500px;
  opacity: 0;
  z-index: -10;
  border-radius: 20px;
  z-index: 99;
  /* transition: transform 1s ease-in-out, opacity 2s, background-color 1s; */
}


.current-weather-container{
  display: grid;
  grid-template-columns: 2fr 5fr;
}

.weather-icon{
  border: solid;
  border-width: 5px;
  border-color: purple;
}
.current-weather{
  display: grid;
  grid-template-rows: 2fr 1fr;
  /* border: solid;
  border-width: 5px;
  border-color: green; */
}

.temperature{
  display: flex;
  flex-direction: row;
  font-family: Poppins;
  font-size: 50px;
  font-weight: bold;
  /* color: white; */
  align-items: end;
  margin: none;
}

.weather-status{
  display: flex;
  font-family: Poppins;
  font-weight: bold;
  font-size: 25px;
  align-items: start;
  margin: none;
}

.temperature,
.weather-status{
  padding-left: 15px;
}

.weather-condition{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  font-family: Poppins;
  font-weight: bold;
  font-size: 22px;
  border: solid;
  border-color: red;
  border-width: 3px;
}

.precipitation,
.humidity,
.wind-speed{
  padding-left: 10px;
  margin-top: 10px;
}

.precipitation-percent,
.humidity-value,
.wind-speed-value{
  text-align: right;
  margin-top: 10px;
  margin-right: 10px;
}

.four-day-forecast-container{
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
  border-color: red;
}

.four-day-forcast{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  width: 85%;
  height: 75%;
  background-color: darkgrey;
  /* border-color: lime; */
  /* border-width: 3px; */
  font-family: Poppins;
  
}

.day-one,
.day-two,
.day-three,
.day-four{
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  text-align: center;
  height: 100%;
}

